.navigation {
  width: 834px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 768px;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    width: 320px;
  }
}

.navigation h2 {
  display: none;
}

.navigation__logo {
  position: absolute;
  margin-left: -23px;
  margin-top: 318px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width) {
    left: 0;
    margin-left: 22px;
    margin-top: 25px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 17px;
    margin-top: 25px;
  }
}

.navigation__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  opacity: 0.7;

  &:hover {
    opacity: 1;
    border-bottom: 1px solid #e5e5e5;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 140%;
    color: #48494d;
  }
}

.navigation__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 21px;

  &::before {
    position: absolute;
    content: '';
    width: 872px;
    height: 1px;
    top: 61px;
    left: -19px;
    height: 1px;
    background-image: url('../../img/border-desktop.svg');

    @media (max-width: $tablet-width) {
      display: none;
    }
  }


  @media (max-width: $tablet-width) {
    display: none;
  }
}

.navigation__button {
  display: none;
  width: 50px;
  height: 50px;
  background-image: url('../img/navigation-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  background-color: #0ad9c6;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: block;
    position: absolute;
    right: 0;
  }
}

.navigation__button span,
.navigation__mobile-close span {
  visibility: hidden;
}

.navigation__mobile {
  background-color: #e5e5e5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
}

.navigation__mobile-list {
  display: flex;
  flex-direction: column;
  gap: 31px;
  margin-top: 100px;
}


.navigation__mobile-close {
  width: 50px;
  height: 50px;
  background-image: url('../img/mobile-close.svg');
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  cursor: pointer;
}


.navigation__mobile-item {
  position: relative;
  min-width: 320px;
  height: 43px;
  background-color: #f6f6f6;
  padding-top: 16px;
  font-size: 20px;
  line-height: 140%;
  color: #48494D;

  &::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-image: url('../../img/arrow-mobile.svg');
    left: 288px;
    top: 23px;
  }
}

.navigation__mobile-link {
  margin-left: 16px;
}

.navigation__mobile--visible {
  display: block;
}

.navigation__mobile--nojs .navigation__mobile  {
  height: 500px;
  width: 100%;
  position: static;
  order: -1;
}

.navigation__mobile--nojs .navigation__mobile--hidden {
  @media (max-width: $tablet-width) {
    display: block;
  }
}

.navigation__mobile--nojs .navigation__mobile-close {
  display: none;
}

.navigation__mobile--hidden {
  display: none;
}
