.video-bicucles {
  width: 100vw;
  height: 706px;
  background-color: #131314;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    height: 413px;
  }
}

.video-bicucles__wrapper {
  width: 353px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 420px;
  }
}

.video-bicucles__wrapper h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #FFFFFF;
  text-align: center;
  padding-top: 121px;
  margin-bottom: 21px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    padding-top: 70px;
  }
}

.video-bicucles__wrapper p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #FFFFFF;
  opacity: 0.7;
  text-align: center;
}

.video-bicucles__block {
  position: relative;
  margin: 0 auto;
  width: 926px;
  padding-top: 13px;

  @media (max-width: $tablet-width) {
    width: 502px;
    padding-top: 0;
  }
}

.video-bicucles__button {
  position: absolute;
  top: 45%;
  left: 46.5%;
  width: 73px;
  height: 73px;
  background-image: url('../img/button-play-desktop.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    width: 91px;
    height: 91px;
    top: 33%;
    left: 41.1%;
    background-image: url('../img/button-play-tablet.svg');
  }
}

.video-bicucles__button span {
  display: none;
}

.video-bicucles__movie {
  @media (max-width: $tablet-width) {
    width: 503px;
    height: 282px;
  }
}

